body {
  background-color: #3A4264;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
font-size: 50px;
}
h3 {
  display: inline;
  padding-right: 825px;
}
::-webkit-input-placeholder {
  text-align: center;
}
button {
    /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  background:  #1F253D;
  margin: 10px;
  color: grey;
  border-style: thin;
  border-color: grey;
  -o-transition:1.5s;
  -ms-transition:1.5s;
  -moz-transition:1.5s;
  -webkit-transition:1.5s;
  transition:1.5s;

}
button:hover {
  background-color: red;
}

.mainDiv {
  margin:15px;
  background:  #1F253D;
  text-align: center;
  color: white;
}
.gameContainer {
margin: 0 auto;
width: 450px;
color: black;
padding-bottom: 200px;
padding-top: 20px;
border-radius: 10px;
}

input {
  background: #394264;
  margin: 0 auto;
  height: 50px;
  display: block;
  border: 1px solid;
  border-radius: 5px;
}

.input_box {
  background: #394264;
  padding: 15px;
  /*border: none;*/
  display: block;
  margin: 0 auto;
}

.prev_guesses {
  background: #11A8AB;
  height: 30px;
  padding: 20px;
  font-weight: bold;

}


.results_box {
  font-weight: bold;
  background: #CC324B;
  height: 30px;
  padding: 20px;
}